<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ExpressJS TypeScript starter template</title>

    <%- include('partials/common') %>
</head>

<body>
    <%- include('partials/header') %>
    <h1>About</h1>
    <h6>
        I wrote this simple todo app to demonstrate how to build a real world nodejs project.
    </h6>
    <%- include('partials/footer') %>
</body>

</html>