<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ExpressJS TypeScript starter template</title>
</head>

<body>
    <%- include('partials/header') %>
    <h1>About</h1>
    <%- include('partials/footer') %>
</body>

</html>